

<div>
    <h2>CORE</h2>
    <div class="pages">
        <a routerLink=""><mat-icon>dashboard</mat-icon>Dashboard</a>
        
    
        
    </div>

    <mat-divider></mat-divider>

    <h2>INTERFACE</h2>
    <div class="pages">

        <a routerLink="layout"><mat-icon>padding</mat-icon>Layouts</a>
        <a routerLink=""><mat-icon>pages</mat-icon>Pages</a>
    </div>

    <mat-divider></mat-divider>

    <h2>ADDONS</h2>
    <div class="pages">
        <a routerLink=""><mat-icon>leaderboard</mat-icon>Charts</a>
        <a routerLink="tables"><mat-icon>table</mat-icon>Tables</a>


    </div>

    <mat-divider></mat-divider>
</div>