
<!-- card -->

<div class="cards">

    <!-- card 1 -->
    <mat-card>
        <app-card
        bg="blue"
        icon="redo"
        description="primary card"
        count=""
        ></app-card>
      </mat-card>

      <!-- card 2 -->

      <mat-card>
        <app-card
        bg="yellow"
        icon="warning"
        description="warning card"
        count=""></app-card>
      </mat-card>

      <!-- card 3 -->
      <mat-card>
        <app-card
        bg="green"
        icon="sync"
        description="success card"
        count=""></app-card>
      </mat-card>

      <!-- card 4 -->
      <mat-card>
        <app-card
        bg="pink"
        icon="dangerous"
        description="danger card"
        count=""></app-card>
      </mat-card>



      

    
</div>

<!-- area chart -->

<div class="area">
    <app-area-chart></app-area-chart>
</div>

<!-- table and pie chart -->

<div class="tablepie">

    <!-- table -->
<div>
    <app-table></app-table>
</div>

<!-- pie chart -->

<div>
    <app-pie-chart></app-pie-chart>
</div>

</div>